/* font-family: "Pacifico", cursive;  - normal 400*/
/* font-family: "Poppins", sans-serif;  - italic,normal - 100-900 */

/* color #1 - #3D405B - charcol */
/* color #2 - #FEF8ED - cream */
/* color #3 - #B43257 - redish */

main {
    background-image: url(./src/img/index/ramen_hero_v1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -200px;
    /* background-color:yellow; */
}

.dark-bg {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-hero {
    color: #FEF8ED;
    line-height: 6rem;
    text-shadow: black 0px 2px 7px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.txt-1 {
    font-size: 5rem;
}

.txt-2 {
    font-size: 10rem;
}

.order-btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    background-color: #FEF8ED;
}