/* font-family: "Pacifico", cursive;  - normal 400*/
/* font-family: "Poppins", sans-serif;  - italic,normal - 100-900 */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.dark-bg {
    width: 100%;
    height: 100vh;
    display: grid;
    gap: 2rem;
    grid-template-rows: auto 1fr auto;
    background-color: #F4F1DE;
}

.logo-the-ramen-shop {
    line-height: 10px;
    text-align: center;
    font-family: "Pacifico", cursive;
    position: relative;
    bottom: 10px;
    color: #3D405B;
    /* background-color: #81B29A; */
}

.logo-the {
    font-size: 12px;
}

.nav-item a, .nav-link, .bi {
    font-size: 15px;
    color: #3D405B;
    font-family: "Poppins", sans-serif;
    /* background-color: #E07A5F; */
}

main {
    height: 100%;
    background-color: #E07A5F;
}

footer {
    background-color: #81B29A;
}