* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.dark-bg {
    width: 100%;
    height: 100vh;
    display: grid;
    gap: 3rem;
    grid-template-rows: auto 1fr auto;
    background-color: rgba(0, 0, 0, 0.5);
}

header {
    background-color: antiquewhite;
}

main {
    height: 100%;
    background-color: blueviolet;
}

footer {
    background-color: antiquewhite;
}